<article class="product-item">
    <img src="<%= product.imageURL %>" alt="<%= product.title %>">
    <div class="product-item-content">
        <h2><%= product.title %></h2>
        <div class="product-item-actions">
            <% if(locals.isAdmin){ %>
            <a class="btn btn-alt" href="/admin/products/<%= product.id %>/edit">View & Edit</a>
            <button class="btn btn-alt" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
            <% }else{ %>
                <a class="btn btn-alt" href="/products/<%= product.id %>">View details</a>
            <% } %>
        </div>
    </div>
</article>