<article class="cart-item">
    <div class="cart-item-info">
        <h2><%= cartItem.product.title%></h2>
        <img src="<%= cartItem.product.imageURL %>" alt="<%= cartItem.product.title %>">
        <p>Per Unit: <%= cartItem.product.price.toFixed(2)%> Credits</p>
    </div>
    <div class="cart-item-management">
        <form data-productid="<%= cartItem.product.id %>" data-csrf="<%= locals.csrfToken %>">
            <label for="quantity:<%= cartItem.product.id %>">Quantity:</label>
            <input type="number" id="quantity:<%= cartItem.product.id %>" value="<%= cartItem.quantity %>"  required >
            <button class="btn btn-alt" data-productid="<%= cartItem.product.id %>">Update</button>
        </form>
        <p>Unit Total: <br> <span class="cart-item-price"><%= cartItem.totalPrice.toFixed(2) %></span> Credits</p>
    </div>
</article>