<%- include("../../shared/includes/head",{pageTitle:"Shopping Cart"}) %>
<link rel="stylesheet" href="/styles/cart.css">
<link rel="stylesheet" href="/styles/inventory.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>Your Cart</h1>
            <% if(sessionData.errorMessage){ %>
                <section class="alert-error">
                    <h2>Insuficient funds!</h2>
                    <p><%=sessionData.errorMessage%></p>
                </section>
            <% } %>
            <% if(locals.isAuth){ %>
                <%- include("../../shared/includes/inventory/credit-balance",{total:false}) %>
                <% } %>
            <ul id="cart-items">
                <% for(const cartItem of locals.cart.items ){ %>
                <li>
                    <%- include("includes/cart-item",{cartItem : cartItem}) %>
                </li>
                <% } %>
            </ul>
            <div id="cart-total">
             <p>Cart Total:</p>
             <span><%= locals.cart.totalPrice.toFixed(2) %> Credits</span>
             <div class="spacer"></div>
             <% if(!locals.isAuth){%>
                <p id="cart-total-noAuth">Log in to confirm purchase</p>
             <% } %>
            </div>
            <% if(locals.isAuth){ %>
            <div id="cart-total-balance">
                <%- include("../../shared/includes/inventory/credit-balance",{total:true}) %>
                <form action="/inventory/add" method="post">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
                    <button id="Confirm-purchase-btn" class="btn">Confirm Purchase</button>
                </form>
                </div>   
                <% } %>
            </div>
        </main>
    </body>
</html>
